body
{
    background-color: #000;
}
.sidebar
{
    position: fixed;
    top:0;
    left:0 ;
    bottom:0 ;
    padding:12px; 
    width: 300px;   
}
.sidebar_nav
{
    background-color: #121212;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}
.sidebar_.sidebar_nav .logo
{
    background-color: #121212;
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}
.logo img
{
    width:80px
}
.sidebar_nav ul 
{
    margin-top: 20px;
    padding: 0 20px 10px;
}
.sidebar nav ul li 
{
    padding: 10px 0;
}


.sidebar nav ul li a
{
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;

}
.sidebar nav ul li a:hover
{
    color: #fff;
    font-weight: 800;
    

}